.form-btn {
    float: right;
    margin-bottom: 10px;
}

.delete-btn {
    float: right;
    color: #e74944;
}

.auth-btn {
    display: block;
    float: right;
    background-color: #000000;
    color: #d3d3d3;
    border: 1px solid #61dafb;
    padding: 5px 35px;
    margin: 10px 0px;
    cursor: pointer;
}

.home-btn {
    display: block;
    float: left;
    background-color: #000000;
    color: #61dafb;
    border: none;
    padding: 5px 35px;
    margin: 1.5em 0px;
    cursor: pointer;
}

.navbar-nav-item-btn {
    display: block;
    float: left;
    background-color: #000000;
    color: #61dafb;
    border-right: 1px solid #61dafb;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: 5px 35px;
    margin: 1.5em 0px;
    cursor: pointer;
}
.navbar-nav-item-btn.active {
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .navbar-nav-item-btn {
        padding: 1.6em 0.5em;
        margin: 0;
    }
}

.navbar-nav-item-btn:first-child {
    border-left: 1px solid #61dafb;
}

button:focus {
    outline: none;
}